
.home-page {
    margin: 0;
    padding: 0;
    display: flex;
}

.home-container {
    flex: 1;
    color: white;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202530;
    padding: 20px;
}
