
.menu-bar {
    width: 100vw;
    height: 50px;
    background-color: #2b2f36;
    border-bottom: 2px solid #45494f;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    color: #eee;
}

.menu-bar button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 45px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    outline: none;
}

.menu-bar button:not(:active) {
    transition: background-color 0.15s;
}

.menu-bar button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-bar button:active {
    background-color: rgba(100, 100, 100, 0.6);
}

.menu-bar img {
    width: 55%;
    height: 55%;
}
