
.project-page {
    flex: 1;
    color: white;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #23272f;
}

.project-container {
    margin: 50px 15vw 0px 15vw;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.project-sidebar {
    background-color: #383a42;
    color: #eee;
    border-left: 1px solid #505359;
    border-right: 1px solid #505359;
    width: 25%;
}

.project-sidebar h2 {
    margin: 15px 15px 10px 15px;
}

.project-sidebar img {
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.project-tab {
    background-color: rgba(200, 200, 200, 0);
    color: #ddd;
    font-size: 16px;
    margin-top: -1px;
    border-top: 1px solid #5e6167;
    border-bottom: 1px solid #5e6167;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 50px;
}

.project-tab:not(:active) {
    transition: background-color 0.15s;
}

.project-tab:hover {
    background-color: rgba(200, 200, 200, 0.15);
}

.project-tab:active, .project-tab:disabled {
    outline: none;
    background-color: #2d2e34;
}

.project-primary {
    background-color: #2d2e34;
    border-right: 1px solid #505359;
    width: 75%;
    overflow: hidden;
    height: 100%;
}
