
.ace-matej {
    color: #ff5555;
    border-radius: 20px;
    overflow-x: hidden;
}

.ace-matej .ace_field {
    color: orange;
}

.ace-matej .ace_enum {
    color: #cc99cc;
    font-weight: bold;
}

.ace-matej .ace_annotation {
    color: #f3f352;
}

.ace-matej .ace_identifier {
    color: #bbbbbb;
}

.ace-matej .ace_operator {
    color: #fff;
}

.ace-matej .ace_numeric {
    color: #74a5ee;
}

.ace-matej .ace_comment {
    color: gray;
    font-style: italic;
}

.script-header {
    font-family: Calibri, serif;
    font-size: 25px;
    margin: 5px 5px 10px 5px;
}

.ace_scrollbar::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

.ace_scrollbar::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #282a36; /* Matches ace monokai */
    border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.script-console {
    background-color: #282a36;
    margin-left: 20px;
    width: 30%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.script-console h1 {
    margin: 15px 15px 0 15px;
    color: #eee;
    font-size: 20px;
}

.script-console h2 {
    margin: 5px 15px 0 15px;
    color: #ccc;
    font-weight: normal;
    font-size: 14px;
}

.script-annotation {
    font-family: monospace;
    color: #eee;
    text-align: left;
    background-color: #373949;
    border: none;
    border-top: 1px solid #55596e;
    width: 100%;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}

.script-annotation:not(:active) {
    transition: background-color 0.15s;
    outline: none;
}

.script-annotation:hover {
    background-color: #434559;
}

.script-annotation:active {
    background-color: #2f303f;
    outline: none;
}

.script-annotation-container {
    margin-top: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.script-annotation-container:last-child {
    border-bottom: 1px solid #4e5165;
}
