<!DOCTYPE HTML>
<html>
    <head>
        <title>About Us - AxoModel</title>
        <link rel="stylesheet" type="text/css" href="/styles/text-pages.css">
    </head>
    <body>
        <div class="text-container">
            <div class="text-header">
                <img src="/images/axomodel.png" alt="AxoModel" style="margin-right: 20px" />
                <h1>AxoModel</h1>
            </div>
            <div class="text-body">
                <p>
                    We are a dedicated team of three individuals passionate about accelerating the development of AI and making
                    a meaningful impact on the world.
                </p>
                <p>
                    We firmly believe that by accelerating AI development, we can unlock new possibilities and shape a better
                    future for individuals, businesses, and society as a whole. We are driven by our shared vision to create
                    innovative solutions that push the boundaries of what is possible in the realm of AI.
                </p>
                <p>
                    At AxoModel, we strive to provide cutting-edge tools, platforms, and resources that empower individuals and
                    organizations to expedite their AI projects. We understand that time is of the essence in today's fast-paced
                    world, and we are committed to delivering efficient and effective solutions that save you valuable time and
                    resources.
                </p>
                <p>
                    Through our dedication, technical proficiency, and unwavering belief in the transformative power of AI,
                    we are committed to driving positive change and enabling the acceleration of technological development. Join
                    us on this exciting journey as we shape the future through AI innovation.
                </p>
                <p>
                    Together, let's change the world and accelerate the development of technology through the limitless possibilities
                    of artificial intelligence.
                </p>
                <p>
                    AxoModel: Shaping Tomorrow's World with AI-driven Innovation.
                </p>
                <p style="width: 100%; text-align: center">
                    <a href="/">Home</a>
                    &#x2022;
                    <a href="/contact">Contact</a>
                    &#x2022;
                    <a href="/register">Register</a>
                    &#x2022;
                    <a href="/login">Log In</a>
                </p>
                <p style="width: 100%; text-align: center">
                    AxoModel v1.0.0 Release
                </p>
            </div>
        </div>
    </body>
</html>