<!DOCTYPE HTML>
<html>
    <head>
        <title>Contact - AxoModel</title>
        <link rel="stylesheet" type="text/css" href="/styles/text-pages.css">
    </head>
    <body>
        <div class="text-container">
            <div class="text-header">
                <img src="/images/axomodel.png" alt="AxoModel" style="margin-right: 20px" />
                <h1>AxoModel</h1>
            </div>
            <div class="text-body" style="text-align: center">
                <p style="width: 100%; margin-bottom: 0">
                    For questions or inquires about the service, send us an email:
                </p>
                <p style="width: 100%">
                    <b>axomodel.contact@gmail.com</b>
                </p>
                <p style="width: 100%">
                    <a href="/">Home</a>
                    &#x2022;
                    <a href="/contact">Contact</a>
                    &#x2022;
                    <a href="/register">Register</a>
                    &#x2022;
                    <a href="/login">Log In</a>
                </p>
                <p style="width: 100%">
                    AxoModel v1.0.0 Release
                </p>
            </div>
        </div>
    </body>
</html>