<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password - AxoModel</title>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="text-header">
                <img src="/images/axomodel.png" alt="AxoModel" style="margin-right: 20px" />
                <h1>AxoModel</h1>
            </div>
            <div class="container">
                <h1 style="font-size: 24px">Forgot Password</h1>
                <form action="/user/forgot-password" method="post">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="<%= email%>" required>
                    <button type="submit">Send Recovery Email</button>
                    <% if(submitted) { %>
                        <p style="color: green;">
                            Email has been sent. If you don't receive an email within 5 minutes, please try again.
                        </p>
                    <% } %>
                </form>
            </div>
            <p style="text-align: center">AxoModel v1.0.0 Release</p>
        </div>
    </body>
</html>
