<!DOCTYPE html>
<html>
    <head>
        <title>AxoModel</title>
        <link rel="stylesheet" type="text/css" href="/styles/index.css">
    </head>
    <body>
        <div class="container">
            <div class="background"></div>
            <div class="content-container">
                <div style="display: flex; justify-content: flex-end; width: 100%">
                    <a class="link" href="/register" style="padding: 20px 30px">Sign Up Now</a>
                </div>
                <div class="content-container-padding" style="flex-direction: row; justify-content: flex-start">
                    <img src="/images/axomodel.png" alt="AxoModel" style="margin-right: 20px" />
                    <h1 style="margin: 0">AxoModel</h1>
                </div>
                <div class="content-container-center">
                    <h1>A quick and simple way to integrate AI into your business.</h1>
                    <p style="margin-bottom: 30px">Get a head start in your business without field expertise.</p>
                    <a class="button" href="/register">Sign Up Now</a>
                    <p class="login-note">Already have an account? <a class="link" href="/login">Log in</a></p>
                </div>
                <div class="content-container-padding" style="justify-content: center">
                    <div class="arrow-button-container">
                        <img src="/images/arrow.png" alt="See More" class="arrow-button" onclick="smoothScroll('#page2')"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container" style="background-color: #111; justify-content: center; height: 100vh" id="page2">
            <div style="display: flex; flex-grow: 1">
                <div class="content-container" style="width: 500px; justify-content: center; align-items: flex-start">
                    <h2 style="text-align: left">Developing an AI network is tough.</h2>
                    <p>
                        Testing and validating your AI business idea can be challenging and inaccessible,
                        leaving you reliant on external consultants and developers.
                    </p>
                    <p>
                        In today's fast-paced world, quick and easy experimentation is crucial before investing
                        significant time and capital into development teams and consultants.
                    </p>
                    <p>
                        We understand the importance of enabling efficient and cost-effective experimentation,
                        empowering you to iterate and refine your AI business idea successfully.
                    </p>
                </div>
                <div class="content-container" style="width: 500px; justify-content: center; align-items: flex-end">
                    <a href="https://www.flaticon.com/free-icons/wait" title="wait icons" target="_blank">
                        <img src="/images/icon-problem.png" alt="The Problem" style="margin-bottom: 30px"/>
                    </a>
                </div>
            </div>
            <div class="content-container" style="justify-content: center; height: 20%">
                <div class="arrow-button-container">
                    <img src="/images/arrow.png" alt="See More" class="arrow-button" onclick="smoothScroll('#page3')"/>
                </div>
            </div>
        </div>

        <div class="content-container" style="background-color: #171717; justify-content: center; height: 100vh" id="page3">
            <h1>Start experimenting today!</h1>
            <div class="experiment-today">
                <div>
                    <h2>1. Buy a subscription to our website.</h2>
                    <p>Choose what plan suits your needs best.</p>
                </div>
                <div>
                    <h2>2. Configure and test neural networks.</h2>
                    <p>Experiment with a large array of pre-built neural networks for you to tailor to your needs.</p>
                </div>
                <div>
                    <h2>3. Iterate and refine your neural networks.</h2>
                    <p>Decide whether the neural network you built fits your business.</p>
                </div>
            </div>
            <div style="display: flex; justify-content: center">
                <a class="button" href="/register" style="margin-right: 15px">Sign Up Now</a>
                <a class="button blue" href="/learn-more">Learn More</a>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>AxoModel</h3>
                    <ul>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/learn-more">Learn More</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Socials</h3>
                    <p style="margin: 0"><b>**Coming soon</b></p>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Licensing</h3>
                    <ul>
                        <li><a href="/terms-of-service">Terms of Service</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <p>AxoModel v1.0.0 Release</p>
        </footer>

        <script src="/javascripts/index.js"></script>
    </body>
</html>
