<!DOCTYPE html>
<html>
<head>
  <title>AxoModel Privacy Policy</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="wrapper">
  <h1>AxoModel</h1>
  <div class="container">
    <h1 style="font-size: 24px">Privacy Policy</h1>
    <div>
      <h2>1. Introduction</h2>
      <p>At AxoModel, we respect your privacy and are committed to protecting your personal data. This Privacy Policy explains how we handle and protect your personal data when you use our services.</p>

      <h2>2. What Information We Collect</h2>
      <p>We collect personal information you provide when you create an account, such as your name, email address, phone number, and password. We also collect usage data such as how often you click certain buttons, how many AIs you train, the average time of a training session, how long you spend on the site, your location and where you scroll on the site. Finally, we also collect technical details which include, your IP address, browser type and operating system details. Cookies are not used for tracking non-essential data but are used to track strictly necessary information for the functionality of the service.</p>

      <h2>3. How We Use Your Information</h2>
      <p>We use the personal information we collect for the following purposes:

        To provide our services: We process your personal data as necessary to perform our contract with you and to fulfill our obligations under our Terms of Service. For example, we require certain information such as your name and email address to register an account and provide you with our services.

        To improve our services: With your consent, we may use your personal data to understand how our services are being used and to make improvements. This includes data about your usage of our services and feedback you provide to us.

        To provide customer support: With your consent, we may use your personal data to respond to your enquiries and solve any potential issues you might have with the use of our services.

        To communicate with you: With your consent, we may use your personal data to communicate with you about updates to our services, security alerts, and support and administrative messages. You have the right to opt out of receiving promotional communications from us at any time by contacting us.

        Please note that you have the right to withdraw your consent at any time. The withdrawal of consent will not affect the lawfulness of processing based on consent before its withdrawal. Withdrawing your consent will lead to loss of access to our Service.
      </p>

      <h2>4. Sharing of Your Information</h2>
      <p>We take your privacy seriously and do not sell your personal data to third parties. However, in order to deliver our services, there may be limited circumstances under which we share your personal data:

        Service Providers: We may share your personal information with third-party service providers who perform services on our behalf, such as web hosting, data analysis, customer service, email delivery, auditing, and other services. These third parties are given access to your information as needed to perform their functions, but they are prohibited from using it for other purposes.

        Compliance with Laws: We may disclose your information if we are required to do so by law or in the good faith belief that such action is necessary to: (i) comply with a legal obligation; (ii) protect and defend our rights or property; (iii) prevent fraud; (iv) act in urgent circumstances to protect the personal safety of users of the services or the public; or (v) protect against legal liability.

        Business Transfers: In the event that we undergo a merger, acquisition, bankruptcy, dissolution, reorganization, or similar transaction or proceeding that involves the transfer of the information described in this Policy, we will ensure that your personal data remains protected in accordance with this Policy.

        We will inform you of any changes in the third parties we use to process your personal data.

        For any transfer of personal data outside the EU, which we generally avoid, we ensure adequate protection is in place as required by GDPR.
      </p>

      <h2>5. Cookies and Tracking Technologies</h2>
      <p>We use cookies and other tracking technologies to analyze website traffic and understand where our audience is coming from.</p>

      <h2>6. Data Security</h2>
      <p>We have taken strong measures such as encryption and tight internal security to ensure the security of your data.</p>

      <h2>7. Data Retention</h2>
      <p>We retain your personal data as long as necessary to provide you with our services, comply with legal obligations, resolve disputes, improve our services and enforce our policies.</p>

      <h2>8. Your Rights</h2>
      <p>In accordance with the General Data Protection Regulation (GDPR), you as a data subject have the following rights concerning your personal data:

        Right to Access: You have the right to request access to your personal data that we process.

        Right to Rectification: If the personal data we hold about you is inaccurate or incomplete, you have the right to have it corrected or completed.

        Right to Erasure (‘Right to be Forgotten’): Under certain circumstances, you have the right to request that we delete or remove your personal data from our systems.

        Right to Restriction of Processing: Under certain circumstances, you have the right to restrict the processing of your personal data.

        Right to Data Portability: You have the right to obtain a copy of your personal data in a structured, machine-readable format and have it transferred to another organization, where technically feasible.

        Right to Object: You have the right to object to the processing of your personal data under certain circumstances, including processing for direct marketing purposes.

        Right not to be subject to Automated Decision-Making or Profiling: You have the right not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects concerning you or similarly significantly affects you.

        Right to Withdraw Consent: If we are processing your personal data based on your consent, you have the right to withdraw that consent at any time.

        Right to Lodge a Complaint: You have the right to lodge a complaint with a supervisory authority if you believe that our processing of your personal data violates your rights under GDPR.

        To exercise any of these rights, please contact us using the contact information provided in this policy. Please note that we may ask you to verify your identity before responding to such requests.
      </p>

      <h2>9. Changes to this Privacy Policy</h2>
      <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

      <h2>10. Contact Us</h2>
      <p>If you have any questions about this Privacy Policy, please contact us at [Your Contact Information].</p>
    </div>
  </div>
  <p style="text-align: center">&copy AxoModel 2023</p>
</div>
</body>
</html>