<!DOCTYPE html>
<html>
<head>
    <title>AxoModel Terms of Service</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="wrapper">
    <h1>AxoModel</h1>
    <div class="container">
        <h1 style="font-size: 24px">Terms of Service</h1>
        <div>
            <h2>1. Introduction</h2>
            <p>Welcome to AxoModel. By using our services, you are agreeing to these terms. Please read them carefully.</p>

            <h2>2. Services</h2>
            <p>We provide an AI development platform allowing users to build and train AI models.</p>

            <h2>3. Acceptance of Terms</h2>
            <p>By creating an account, you confirm that you have read, understood, and accepted these Terms of Service and our Privacy Policy.</p>

            <h2>4. User Responsibilities</h2>
            <p>Users are responsible for the security of their accounts, adherence to local laws, and respect for other users. You agree not to create models which will be used for malicious or illegal activity using our service.</p>

            <h2>5. Privacy and Data Collection</h2>
            <p>Our Privacy Policy explains how we treat your personal data and protect your privacy when you use our Services. It also outlines what data will be collected and your rights with regards to your data. By agreeing to this terms of service you also agree to our Privacy Policy.</p>

            <h2>6. Intellectual Property</h2>
            <p>You retain ownership of the content you create on our platform. However, by using our services, you grant us a non-exclusive, royalty-free, worldwide license to use, reproduce, distribute, and display this content solely for the purpose of providing and improving our services. This license does not include any rights for resale of your content or use of your content outside the provision and improvement of our services. This license persists even after you stop using our services.</p>

            <h2>7. Payment Terms</h2>
            <p>You acknowledge that our product is not in a usable state and thus the framework will be provided to you for free for demonstration and market research purposes.</p>

            <h2>8. Termination</h2>
            <p>We may terminate or suspend access to our service immediately, without prior notice or liability, for any reason. We are likely to take this action in the case of a breach of terms of service, non-payment or malicious or illegal activity.</p>

            <h2>9. Dispute Resolution</h2>
            <p>All disputes arising out of or in connection with these Terms of Service shall be initially resolved through good faith negotiation. If the dispute cannot be resolved through negotiation, it shall be submitted to a competent court in the Netherlands. These Terms of Service shall be governed by and interpreted in accordance with the laws of the Netherlands and the European Union, excluding its conflict of law provisions.</p>

            <h2>10. Limitations of Liability</h2>
            <p>To the maximum extent permitted by applicable law, AxoModel shall not be liable for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from (a) your access to or use of or inability to access or use the services; (b) any conduct or content of any third party on the services, including without limitation, any defamatory, offensive or illegal conduct of other users or third parties; (c) any content obtained from the services; or (d) unauthorized access, use or alteration of your transmissions or content.</p>

            <h2>11. Changes to the ToS</h2>
            <p>We reserve the right to modify these terms. You will be notified of any changes of terms of service via the email you have chosen to sign up with.</p>

            <h2>12. Contact Information</h2>
            <p>For any queries, please contact us at [Our Contact Information].</p>
        </div>
    </div>
    <p style="text-align: center">&copy AxoModel 2023</p>
</div>
</body>
</html>