
# IntelliJ project files
.idea

# Node.js dependency files
*/node_modules

# Temporary files
*/commons_tmp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# React build outputs
core-service/public/console/*

# React Dependencies
react-client/node_modules
react-client/.pnp
react-client/.pnp.js

# React Testing
react-client/coverage

# React Production
react-client/build

# React Misc
react-client/.DS_Store
react-client/.env.local
react-client/.env.development.local
react-client/.env.test.local
react-client/.env.production.local

react-client/npm-debug.log*
react-client/yarn-debug.log*
react-client/yarn-error.log*

# Training Jar Ignore
training-jar/.gradle
training-jar/build

