
# Beanstalk server production and dependency files
beanstalk-server/node_modules
beanstalk-server.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
