
.script-page {
    margin: 0;
    padding: 0;
    display: flex;
}

.script-sidebar {
    width: 300px;
    background-color: #353942;
    color: white;
    height: 100vh;
    padding: 60px 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.script-container, .sidebar-container, .empty-script-container {
    flex: 1;
    color: white;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.script-container, .empty-script-container {
    background-color: #202530;
    padding: 70px 20px 20px 20px;
}

.sidebar-container {
    margin-top: 5px;
    margin-bottom: 7px;
    overflow: auto;
}

.sidebar-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.empty-script-container {
    justify-content: center;
    align-items: center;
}

.script-editor {
    flex: 1;
    overflow: hidden;
    padding: 10px 0px 15px 0px;
}

.script-button-container {
    display: flex;
    justify-content: flex-end;
}

.script-element-unselected, .script-element-selected {
    padding: 5px 0px 5px 0px;
    transition: background-color 0.1s;
    border-radius: 10px;
}

.script-element-selected {
    background-color: rgba(255, 255, 255, 0.3);
}

.script-element-unselected:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.script-element-inset {
    padding-left: 10px;
    cursor: default;
}
