<!DOCTYPE HTML>
<html>
    <head>
        <title>Reset Password - GrAI Matter</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <p style="color: red;">
            Error: Requested token is invalid.
        </p>
    </body>
</html>