<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password - GrAI Matter</title>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <h1>GrAI Matter</h1>
            <div class="container">
                <h1 style="font-size: 24px">Reset Password</h1>
                <p style="text-align: center; color: #ff5555">Error: the requested token is invalid.</p>
            </div>
            <p style="text-align: center">&copy GrAI Matter 2023</p>
        </div>
    </body>
</html>
