<!DOCTYPE HTML>
<html>
    <head>
        <title>Reset Password - GrAI Matter</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <p>
            Enter a new password for user account <%= email%>.
        </p>
        <form action="/user/reset-password" method="post">
            <input type="hidden" name="token" value="<%= token%>">

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <label for="confirm-password">Confirm Password:</label><br>
            <input type="password" id="confirm-password" name="confirm-password"><br><br>
            <input type="submit" value="Reset Password">
        </form>
    </body>
</html>