<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password - GrAI Matter</title>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <h1>GrAI Matter</h1>
            <div class="container">
                <h1 style="font-size: 24px">Reset Password</h1>
                <p style="text-align: center"><%= email%></p>
                <form action="/user/reset-password" method="post">
                    <input type="hidden" name="token" value="<%= token%>">

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
            <p style="text-align: center">&copy GrAI Matter 2023</p>
        </div>
    </body>
</html>
