<!DOCTYPE HTML>
<html>
    <head>
        <title>Forgot Password - GrAI Matter</title>
    </head>
    <body>
        <h1>Forgot Password</h1>
        <form action="/user/forgot-password" method="post">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="abc@example.com" value="<%= email%>"><br><br>
            <input type="submit" value="Send Recovery Email">
        </form>
        <% if(submitted) { %>
            <p style="color: green;">
                Email has been sent. If not received after 5 minutes, try sending it again.
            </p>
        <% } %>
    </body>
</html>
