<!DOCTYPE HTML>
<html>
    <head>
        <title>Home - GrAI Matter</title>
    </head>
    <body>
        <h1>Welcome, <%= firstName%></h1>
        <p>
            <a href="/user/logout"><button>Log Out</button></a>
        </p>
    </body>
</html>
