<!DOCTYPE HTML>
<html>
    <head>
        <title>GrAI Matter</title>
    </head>
    <body>
        <h1>GrAI Matter</h1>
        <p>
            <a href="/login"><button>Log In</button></a>
        </p>
        <p>
            <a href="/register"><button>Register</button></a>
        </p>
        <p>&copy; GrAI Matter 2023</p>
    </body>
</html>
