<!DOCTYPE HTML>
<html>
    <head>
        <title>Log In - GrAI Matter</title>
    </head>
    <body>
        <h1>Log In</h1>
        <form action="/user/login" method="post">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="abc@example.com"><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Log In">
        </form>
        <p>
            <a href="/forgot-password">Forgot your password?</a>
        </p>
        <p>
            Don't have an account? You can register <a href="/register">here</a>.
        </p>
    </body>
</html>